/* maim.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2ecde;
    font-size: 16px; /* 使用vw单位使得字体根据视口宽度自适应 */
}

/* 导航栏 ...............................................................*/
header {
    position: fixed; /* 固定定位 */
    top: 0;
    left: 0;
    width: 100%;
    background-color: #312520;
    padding: 20px 80px;
    z-index: 1000; /* 确保导航栏在最上层 */
}
nav {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}
.nav-links {
    list-style: none;
    display: flex;
    justify-content: center; /* 水平居中 */
    margin: 0; /* 不能删 */
    padding: 0;
}
.nav-links i {
    margin: 0 15px;
}
.nav-links a {
    margin: 0 10px;
    color: #f2ecde;
    text-decoration: none; /* 去掉默认下划线 */
    font-size: 1.8vw; /* 设置导航栏字体大小为相对视口宽度 */
}
/* 菜单导航键默认状态 */
.special-hover {
    text-decoration: none; /* 去掉默认下划线 */
    color: inherit; /* 继承父元素颜色 */
    position: relative; /* 为伪元素定位 */
}
/* 鼠标悬停状态 */
.special-hover:hover {
    text-decoration: underline; /* 添加下划线 */
    text-decoration-color: #f2ecde6; /* 下划线颜色 */
    text-decoration-thickness: 4px; /* 下划线厚度 */
}
/* 调整菜单按钮位置和样式 */
.menu-icon {
    display: none; /* 默认隐藏 */
    position: fixed; /* 固定定位 */
    top: 6px; /* 距离顶部 */
    right: 22px; /* 距离右侧 */
    color: #f2ecde;
    background-color: #312520; /* 背景颜色 */
    padding: 10px; /* 内边距 */
    border-radius: 4px; /* 圆角 */
    cursor: pointer;
    z-index: 1001; /* 确保在最上层 */
    font-size: 30px; /* 增大图标大小 */
}
/* 调整个人信息按钮位置和样式 */
.bio-icon {
    display: none; /* 默认隐藏 */
    position: fixed; /* 固定定位 */
    top: 6px; /* 距离顶部 */
    left: 22px; /* 距离左侧 */
    color: #f2ecde;
    background-color: #312520; /* 背景颜色 */
    padding: 10px; /* 内边距 */
    border-radius: 4px; /* 圆角 */
    cursor: pointer;
    z-index: 1001; /* 确保在最上层 */
    font-size: 30px; /* 增大图标大小 */
}
/* 调整title位置和样式 */
.title-icon {
    display: none; /* 默认隐藏 */
    position: fixed;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 26px;
    font-weight: bold;
    color: #f2ecde;
    background-color: #312520;
    padding: 8px 16px;
    border-radius: 6px;
    z-index: 1001;
}
/* 主界面........................................................................ */
.container {
    display: flex;
    min-height: 730px;
    max-width: 1080px;
    margin: 60px auto 20px; /* 顶部留出导航栏高度 */
    padding: 30px 0 0 0;
}
/* 左侧个人信息栏 */
.sidebar {
    width: 200px; /* 固定宽度 */
    margin-right: 60px; /* 与主内容的间距 */
    margin-top: 10vh; /* 使头像容器距离顶部有 10% 的视口高度 */
    display: block; /* 大屏幕显示 */
}
.profile {
    text-align: center;
}
/* 头像容器 */
.profile-photo-container {
    display: inline-block;
    padding: 2px; /* 边框和内边距 */
    border: 4px double #312520; /* 灰色双线边框 */
    border-radius: 50%; /* 圆形 */
    background-color: #f2ecde; /* 背景颜色 */
    width: 160px; /* 缩小容器宽度 */
    height: 160px; /* 缩小容器高度 */
}
/* 头像样式 */
.profile-photo {
    display: block;
    width: 100%; /* 头像宽度占满容器 */
    height: 100%; /* 头像高度占满容器 */
    border-radius: 50%; /* 圆形 */
    object-fit: cover; /* 确保图片填充 */
}
.profile-name {
    font-size: 40px;
    color: #333;
    margin-top: 20px;
}
.profile-bio {
    font-size: 20px;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* 社交链接容器 */
.social-links {
    display: flex;
    flex-direction: column; /* 垂直排列 */
    gap: 10px; /* 图标间距 */
    padding-left: 40px; /* 统一缩进距离 */
}
/* 每个社交链接 */
.social-item a {
    display: flex;
    align-items: center; /* 垂直居中 */
    text-decoration: none;
    color: #333; /* 文字颜色 */
    font-size: 18px;
    transition: color 0.3s ease;
}
/* 图标样式 */
.social-item i {
    font-size: 26px; /* 图标大小 */
    margin-right: 14px; /* 图标和文字之间的间距 */
}
.custom-icon {
    width: 26px;
    height: 26px;
    vertical-align: middle;
    margin-right: 8px;
}
/* 鼠标悬停效果 */
.social-links a:hover {
    color: #a78e44; /* 鼠标悬停颜色 */
}
/* 中间主要内容区域 ..............................................*/
.markdown-content {
    flex: 1; /* 占据剩余空间 */
    background-color: #f3f9f1;
    border-radius: 8px;
    padding: 10px 40px 0 40px; /* 添加内边距 */
    box-shadow: -8px 2px 8px 4px rgba(0, 0, 0, 0.1);
}
/* 页脚样式 ......................................................*/
footer {
    text-align: center;
    padding: 10px;
    background-color: #312520;
    color: #f2ecde;
}
.footer-large {
    font-size: 18px; /* 较大的字体大小 */
    margin: 0; /* 去除默认的外边距 */
    margin-bottom: 8px; /* 调整第一行与第二行之间的间距 */
}
.footer-small {
    font-size: 16px; /* 较小的字体大小 */
    margin: 0; /* 去除默认的外边距 */
}

/** 响应式设计：平板设备 ---------------------------------------------------------------**/
@media (min-width: 768px) and (max-width: 1400px) {
    body {
        font-size: 16px;
    }
    .container {
        display: flex;
        min-height: 90vh; /* 确保容器至少占满整个视口高度 */
        max-width: 96%;
        margin: 60px 0 0 0; /* 顶部留出导航栏高度 */
        padding: 10px 16px 10px 16px; /* 添加内边距 */
    }
    /* 侧边栏宽度调整 */
    .sidebar {
        width: 150px; /* 缩小宽度 */
        margin-right: 30px; /* 减少右侧间距 */
        margin-top: 5vh; /* 使头像容器距离顶部有高度 */
    }
    /* 头像容器调整 */
    .profile-photo-container {
        width: 100px; /* 缩小宽度 */
        height: 100px; /* 缩小高度 */
    }
    /* 头像调整 */
    .profile-photo {
        width: 100px; /* 缩小宽度 */
        height: 100px; /* 缩小高度 */
    }
    /* 名字和简介字体调整 */
    .profile-name {
        font-size: 24px; /* 缩小字体 */
    }
    .profile-bio {
        font-size: 16px; /* 缩小字体 */
    }
    /* 社交链接图标调整 */
    .social-item i {
        font-size: 20px; /* 缩小图标 */
    }
    .custom-icon {
        width: 20px;
        height: 20px;
        vertical-align: middle;
        margin-right: 8px;
    }
    .social-item span {
        font-size: 16px; /* 缩小文字 */
    }
}

/** 响应式设计：小屏幕设备 -----------------------------------------------------**/
@media (max-width: 768px) {
    body {
        font-size: 3.5vw; /* 更小的字体 */
    }
    header {
    padding: 30px;
}
    /* 显示个人信息按钮 */
    .bio-icon {
        display: flex;
    }
    /* 显示title */
    .title-icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .menu-icon {
        display: flex; /* 显示菜单按钮 */
    }
    /* 导航栏响应 */
    /* 导航栏样式 */
    .nav-links {
        display: flex;
        position: fixed; /* 固定定位 */
        top: 50px; /* 距离顶部 */
        right: 14px; /* 距离右侧 */
        background-color: #312520; /* 背景颜色 */
        border-radius: 4px; /* 圆角 */
        padding: 10px 0; /* 内边距 */
        flex-direction: column; /* 垂直排列 */
        width: auto; /* 宽度自适应 */
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2); /* 阴影 */
        opacity: 0; /* 初始透明度为 0 */
        visibility: hidden; /* 初始隐藏 */
        transition: opacity 0.8s ease, visibility 0.8s ease /* 过渡效果 */
        }
    /* 导航栏显示时的样式 */
    .nav-links.active {
        opacity: 1; /* 完全显示 */
        visibility: visible; /* 渐变显示 */
        /* display: flex; /* 直接显示导航栏 */
    }
    /* 导航项样式 */
    .nav-links li {
        margin: 6px 0; /* 间距 */
        text-align: center;
    }
    /* 导航链接样式 */
    .nav-links a {
        display: flex; /* 弹性布局 */
        justify-content: center; /* 水平居中 */
        align-items: center; /* 垂直居中 */
        font-size: 16px; /* 字体大小 */
        padding: 8px 16px; /* 内边距 */
        color: #f2ecde; /* 文字颜色 */
        text-decoration: none; /* 去掉下划线 */
    }
    /* 调整图标样式 */
    .nav-links a i {
        font-size: 24px; /* 图标大小 */
        margin-right: 0; /* 去掉图标和文字的间距 */
    }
    /* 隐藏导航链接中的文字 */
    .nav-links a span {
        display: none; /* 隐藏文字 */
    }
    /* 侧边栏响应 */
    /* 侧边栏样式 */
    .sidebar {
        display: block; /* 默认隐藏 */
        position: fixed; /* 固定定位 */
        left: 0;
        width: 160px; /* 侧边栏宽度 */
        height: auto;
        background-color: #f2ecde; /* 背景颜色 */
        z-index: 1001; /* 确保在最上层 */
        overflow-y: auto; /* 允许滚动 */
        transform: translateX(-120%); /* 初始隐藏 */
        transition: transform 0.8s ease; /* 添加动画效果 */
        margin: 0px 10px 20px 0;
        padding: 16px;
        box-shadow: 4px 0 8px rgba(0, 0, 0, 0.1);
        border-radius: 0 8px 8px 0;
    }
    /* 当侧边栏显示时 */
    .sidebar.active {
        transform: translateX(0); /* 显示侧边栏 */
    }
    .profile-photo-container {
        width: 120px;
        height: 120px;
        margin: 0 auto;
    }
    .profile-photo {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
    .profile-name {
        font-size: 22px;
        margin-top: 10px;
        text-align: center;
    }
    .profile-bio {
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }
    .social-links {
        margin-top: 10px;
        gap: 8px;
    }
    .social-item a {
        font-size: 16px;
    }
    .social-item i {
        font-size: 18px;
    }
    .custom-icon {
        width: 18px;
        height: 18px;
    }
    .container {
        display: flex;
        max-width: 96%;
        margin: 60px 0 0 0; /* 顶部留出导航栏高度 */
        padding: 8px 14px 10px 14px; /* 添加内边距 */
    }
    /* 中间主要内容区域 */
    .markdown-content {
        flex: 1; /* 占据剩余空间 */
        background-color: #f3f9f1;
        padding: 4px 14px 4px 14px;
        border-radius: 4px;
        box-shadow: -4px 2px 4px 2px rgba(0, 0, 0, 0.1);
    }
    .footer-large {
        font-size: 16px; /* 较大的字体大小 */
        margin: 0; /* 去除默认的外边距 */
        margin-bottom: 6px; /* 调整第一行与第二行之间的间距 */
    }
}