/* ==================== */
/* 全局样式 */
/* ==================== */
.markdown-content {
  font-family: Roboto, BlinkMacSystemFont, "Segoe UI", -apple-system, "Helvetica Neue", Arial, sans-serif; /* 设置字体 */
  color: #333; /* 设置默认文字颜色 */
  line-height: 1.6; /* 设置行高，提升可读性 */
  margin: 0 auto; /* 内容居中 */
}

/* ==================== */
/* 标题样式 */
/* ==================== */
.markdown-content h1 {
  font-size: 1.75em; /* 一级标题字体大小 */
  margin-top: 0.5em; /* 上边距 */
  margin-bottom: 0.5em; /* 下边距 */
  font-weight: bold; /* 加粗 */
  color: #000; /* 标题颜色 */
}

.markdown-content h2 {
  font-size: 1.5em; /* 二级标题字体大小 */
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
  color: #000;
}

.markdown-content h3 {
  font-size: 1.25em; /* 三级标题字体大小 */
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
  color: #000;
}

.markdown-content h4 {
  font-size: 1em; /* 四级标题字体大小 */
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
  color: #000;
}

.markdown-content h5 {
  font-size: 0.875em; /* 五级标题字体大小 */
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
  color: #000;
}

.markdown-content h6 {
  font-size: 0.875em; /* 六级标题字体大小 */
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
  color: #666; /* 浅色标题 */
}

/* ==================== */
/* 段落样式 */
/* ==================== */
.markdown-content p {
  font-size: 1em; /* 正文字体大小 */
  margin-top: 1em; /* 上边距 */
  margin-bottom: 1em; /* 下边距 */
}
.markdown-content a {
  color: #007bff; /* 链接颜色 */
  text-decoration: none; /* 移除下划线 */
}
/* ==================== */
/* 设置连接图标颜色 */
/* ==================== */
/* 未访问链接 */
.markdown-content a:link .fas {
  color: #007bff;
}

/* 已访问链接 */
.markdown-content a:visited .fas {
  color: #6c757d;
}

/* 鼠标悬停颜色 */
.markdown-content a:hover .fas {
  color: #0056b3;
}

/* 点击时颜色 */
.markdown-content a:active .fas {
  color: #004080;
}

/* 设置翻译键图标颜色 */
/*未访问状态*/
/*.markdown-content a i.fas.fa-language {
  color: #a78e44;
}
/*鼠标悬停颜色*/
/*.markdown-content a:hover i.fas.fa-language {
  color: #eacd76;
}
/*点击时状态*/
/*.markdown-content a:active i.fas.fa-language {
  color: #eacd76;
}


/* 设置文本链接颜色 */
/* 未访问链接 */
.markdown-content a:link {
  color: #007bff;
}

/* 已访问链接 */
.markdown-content a:visited {
  color: #6c757d;
}

/* 悬停链接 */
.markdown-content a:hover {
  color: #0056b3;
  text-decoration: underline;
}

/* 点击链接 */
.markdown-content a:active {
  color: #004080;
}

